<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/robot.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <img src="/img/robot.png">
    {{>footer}}
</body>

</html>